@use "./mixins" as *;

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    @include centerContent;
    justify-content: space-between;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 1000;

    @include breakpoint(md) {
        height: 4rem;
    }

    &__menu-icon {
        display: none;
        font-size: 1.6rem;

        @include breakpoint(md) {
            position: absolute;
            display: block;
            padding: 0 1.2rem;
        }
    }

    &__logo {
        width: 9rem;
        margin: 0 8.125rem 0 1.875rem;

        @include breakpoint(md) {
            margin: 0 1rem;
            margin-left: 3.7rem;
        }

        @include breakpoint(sm) {
            width: 7rem;
        }
    }

    &__menu {
        @include centerContent;
        flex: 1;
        justify-content: space-between;
        margin: 0 3.75rem;

        @include breakpoint(md) {
            flex: none;
            margin: 0 1.5rem;
        }

        .search {
            border-radius: 8px;
            color: var(--sec-text-clr);
            @include centerContent;
            align-items: stretch;
            overflow: hidden;
            margin-right: 1.75rem;

            @include breakpoint(sm) {
                display: none;
            }

            input {
                padding: 0.75rem 1.25rem;
                font-size: 0.875rem;
                width: 21.5rem;
                border-radius: 8px 0 0 8px;
                border: 1px solid var(--sec-text-clr);
                border-right: none;

                @include breakpoint(md) {
                    width: 15.5rem;
                    padding: 0.5rem 1.2rem;
                }


            }

            button {
                padding: 0 1.6rem;
                background-color: var(--aux-clr);

                @include breakpoint(md) {
                    padding: 0 1rem;
                }
            }
        }

        .nav {
            @include centerContent;
            gap: 2rem;

            @include breakpoint(md) {
                gap: 0.6rem;
            }



            a {
                text-decoration: underline;
                color: var(--pry-text-clr);

                @include breakpoint(md) {
                    display: none;
                }

            }



            .avatar {
                border-radius: 50%;
                width: 3rem;

                @include breakpoint(md) {
                    width: 2.2rem
                }
            }

            .user_info {
                @include centerContent;

                p {

                    color: var(--pry-text-clr);
                    text-transform: capitalize;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-right: 0.6rem;

                    @include breakpoint(md) {
                        display: none;
                    }
                }
            }
        }
    }
}