:root {
    // Color
    --bg-color: #fff;
    --dashboard-bg-color: #E5E5E5;
    --pry-text-clr: #213F7D;
    --sec-text-clr: #545F7D;
    --aux-clr: #39CDCC;

    // Max Viewport Widths
    --mobile: 30rem;
    --tablet: 48rem;
    --laptop: 64rem;
}